body {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: normal;
	font-family: Arial, sans-serif;
	/*text-transform: uppercase; ну да, в тз не было этого, но в ps режим "все прописные" */
}

h1 {
	font-size: 30px;
	line-height: 42px;
	color: #000000;
	font-weight: normal;
	font-family: Arial, sans-serif; /* заменён нестандартный PTSans */
}

h2 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: normal;
	font-family: Arial, sans-serif;
}

/* а это просто чтобы логотип было видно :-) */
.main-header img {
	padding: 10px;
	background-color: black;
}